{% extends 'base.html' %}

{% block content %}
<h2>Welcome to the Cafe</h2>
<div class="list-group">
    <a href="{{ url_for('menu') }}" class="list-group-item list-group-item-action">View Menu</a>
    <a href="{{ url_for('cart') }}" class="list-group-item list-group-item-action">View Cart</a>
    <a href="{{ url_for('sales_history') }}" class="list-group-item list-group-item-action">Sales History</a>
    <a href="{{ url_for('inventory') }}" class="list-group-item list-group-item-action">Inventory</a>
</div>
{% endblock %}
