{% extends 'base.html' %}

{% block content %}
<h2>Menu</h2>
<ul class="list-group">
    {% for item in items %}
    <li class="list-group-item">
        <p>{{ item[1] }} - ${{ item[3] }}</p>
        <form action="{{ url_for('add_to_cart_route', item_id=item[0]) }}" method="POST">
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </form>
    </li>
    {% endfor %}
</ul>
<br>
<a href="{{ url_for('cart') }}" class="btn btn-primary">Go to Cart</a>
{% endblock %}
